/* .hidden{
    display: none;
}
h1{
    color: aqua;
    text-align: center;
    font-size: 50px;
} */
/* h3{
    color: aqua;
    text-align: center;
    font-size: 50px;
} */
/* p{
    color: brown;
    font-size: larger;
} */
/* body{
    background-image: url(../SolarSystem/image/imgbin_sun-png.png);
    background-repeat: no-repeat;
    background-color: black;
    color: aqua;
    text-align: center;
} */
 
body{
    background-color: gray;;
}